.dropdown-content {
    width: auto;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: rgb(249 250 251 / 1);
}


@media (min-width: 768px) {
    .dropdown-content {
        position: absolute;
    }
}