.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  border-color: rgb(229 231 235 / 1);
  background-color: rgb(249 250 251 / 1);
  border-radius: 0;
  transition: height 200ms ease-in-out;
  overflow: hidden;
}

.header.expanded {
  height: 80%;
  overflow-y: scroll;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: red;

}

.nav-brand {
  font-weight: 500;
}

.ham-button {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(107 114 128 / 1);
  border-radius: 0.5rem;
}

.ham-button:hover {
  background-color: rgb(243 244 246 / 1);
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 5px;
  font-weight: 500;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(249 250 251 / 1);
  max-height: 100%;
  margin: 90px 20px 50px 20px;
}

.nav-link {
  display: inline-flex;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 100ms ease-in-out;
  padding: 5px 10px;
}

.nav-link.active {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.765);
}

.nav-link:hover {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.765);
}

.nav-list.close {
  display: none !important;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }

  .header {
    overflow: visible;
  }

  .header.expanded {
    height: 80px;
    overflow-y: visible;
  }

  .nav-head {
    padding: 0 1rem 0 1rem;
    position: relative;
    width: auto;
  }

  .ham-button {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    height: 80px;
    margin-top: 0;
    border-width: 0;
    background-color: transparent;
    width: unset;
    margin: 0px;
    padding: 0px 1.5rem 0px 0px;
  }

  .nav-list.close {
    display: flex !important;
  }
}