.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    border-color: rgb(229 231 235 / 1);
    background-color: rgb(249 250 251 / 1);
    border-radius: 0.5rem;
    padding: 5px 2px 5px 2px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}