<nav class="header shadow-md" [class.expanded]="showNav">
    <div class="nav">
        <div class="nav-head">
            <!-- brand -->
            <div class="nav-brand"> GamesZone </div>
            <!-- hamburger -->
            <button type="button" class="ham-button" (click)="handleHamClick()">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <!-- nav-links -->
        <ul class="nav-list" [ngClass]="{'close': !showNav}">
            <li *ngFor="let navLink of navLinks | sort : 'order' | filter: 'condition'">
                @if(navLink?.children){
                <button (click)="dropdownNav.toggleDropdown()" class="nav-link">{{navLink.name}}</button>
                <app-dropdown #dropdownNav>
                    <ul>
                        <li *ngFor="let childLink of navLink.children | sort : 'order' | filter: 'condition'">
                            <a [routerLink]='[childLink.path]' routerLinkActive="active" class="nav-link"
                                [queryParams]="childLink.params">{{childLink.name}}</a>
                        </li>
                    </ul>
                </app-dropdown>
                } @else {
                <a [routerLink]='[navLink.path]' routerLinkActive="active" class="nav-link"
                    [queryParams]="navLink.params">{{navLink.name}}</a>
                }
            </li>
            <li *ngIf="loggedIn" class="nav-link"><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>